body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Baskerville;
    src: url("../fonts/BASKVILL.TTF");
}

h1 {
    font-family: Baskerville, sans-serif;
    color: #E30230;
}

h2, h3, h4, h5, h6, p, small, label, button {
    font-family: Barlow, sans-serif;
    color: #171717;
}

a {
    text-decoration: none;
}
.main-page {
    padding: 0;
    margin: 0;
}

/* Top Bar Code */

.fixed-top-bar {
    position: fixed;
    background-color: #fff;
    width: 85%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 6px #00000029;
}

.logo-part img {
    width: 10%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

.nav-area {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.nav-item p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    font-weight: 300;
}

.nav-item {
    cursor: pointer;
}

.services-nav span img {
    width: 15px;
    margin-left: 5px;
}


/* Services Dropdown */

.services-dropdown {
    width: 50%;
    padding-left: 5px;
    background-color: #ffffff;
    position: fixed;
    right: 10%;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 998;
}

.services-item {
    background-color: #DA0023;
    display: flex;
    border-radius: 2px;
    margin: 0 5px 10px 5px;
    cursor: pointer;
}

.services-item img {
    margin: 5px 10px;
}

.services-item p {
    color: #fff;
    margin: 5px 10px;
}


/* Side Menu */

.side-menu-page-mobile {
    display: none;
}

.side-nav-options {

}

.side-nav-ele h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;

}

.side-nav-ele-mt {
    margin-top: 25%;
}

.side-nav-ele-mb {
    margin-bottom: 10%;
}

.side-menu-icons {
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.side-menu-icons img {
    margin-bottom: 10%;

}

.services-dropdown-mobile {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.services-item-mobile {
    background-color: #DA0023;
    display: flex;
    border-radius: 2px;
    margin: 0 auto 4% auto;
    cursor: pointer;
    width: fit-content;
}

.services-item-mobile img {
    margin: 5px 10px;
}

.services-item-mobile p {
    color: #fff;
    margin: 5px 10px;
    font-size: larger;
}


.services-arrow {
    transform: rotate(180deg);
    margin-left: 10px;
}



/* Footer and Map */

.footer-map {
    margin-top: 10%;
}

.map-part {
    height: 600px;
    width: 100%;
    background-color: #ebebeb;
}


.footer-mobile {
    display: none;
}

.footer-desktop {
    display: block;
}

.footer-part {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.footer-part h4 {
    font-weight: 300;
    line-height: 1.5;
}

.footer-nav h4 {
    margin-bottom: 1.5rem;
}

.footer-address {
    margin-top: 2%;
}

.footer-bar h4 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 3%;
}

.footer-form-part {
    height: 840px;
    width: 45%;
    position: absolute;
    right: 40px;
    background-color: #ffffff;
    z-index: 99;
    margin-top: -10px;
}

.f-form {
    height: 760px;
    box-shadow: 0 0 6px #00000029;
    padding: 12% 10%;
}

.f-form h4 {
    font-weight: 300;

}

.f-form h1 {

}

.f-icons-text {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 95%;
}

.f-icon {
    display: flex;
}

.f-icon img {
    width: 25px;
    height: 25px;
    margin-right: 45%;
}

.f-text h4 {
    font-weight: 300;
}

.footer-desktop h4 {
    font-size: 1.2em;
}


.footer-form-body {
    margin-top: 5%;
}

.f-label {
    color: #101010;
    font-size: large;
}

.f-input, .f-input:active, .f-input:focus {
    /*background-color: #E30230;*/
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #101010;
    color: #101010;
    box-shadow: none;
}

.f-input::placeholder {
    font-family: Barlow, sans-serif;
    font-size: 22px;
    opacity: 0.6;
    color: #101010;
}

.f-form-input-item {
    margin-bottom: 50px;
}


.f-form-send-btn, .f-form-send-btn:hover, .f-form-send-btn:focus, .f-form-send-btn:active {
    background-color: #E30230;
    border-color: #E30230;
    color: #ffffff;
    border-radius: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 20px;
    width: 180px;
    box-shadow: none;
    margin-top: 10%;
}

.f-form-send-btn img {
    margin-left: 10%;
}
