

.services-body {
    /*padding-top: 8%;*/
    width: 84%;
    margin: 0 auto;
}

.mobile-only {
    display: none;
}
.desktop-only {
    display: block;
}

.service-item {
    /*margin-bottom: 10%;*/
    /*padding-top: 14%;*/
}

.s-header-img {
    background-color: #E30230;
    display: inline-block;
    padding: 35px 25px;
    border-radius: 16px;
    margin: 5px 15px;
}

.s-header-img img {
    width: 80px;
    height: auto;
}

.s-header-heading h2 {
    font-size: 45px;
    font-weight: 500;
}

.s-header-p p {
    font-size: 23px;
    font-weight: 300;
}

.services-quote h2 {
    margin: 3% auto 4%;
    text-align: center;
    font-size: 35px;
    width: 65%;
    font-weight: 600;
    font-style: italic;
}

.services-quote h4 {
    margin: 2% auto 3%;
    font-size: 26px;
    width: 67%;
    font-weight: 500;
}

.services-grid p {
    font-size: x-large;
    font-weight: 300;
}

.s-grid-item {
    width: 85%;
}

.red-heading {
    color: #E30230;
    font-weight: 500 !important;
    font-size: x-large;
}

.s-center-p {
    width: 80%;
    margin: 2% auto;
}

.s-center-p p {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
}

.services-form-body {
    width: 80%;
    margin: 0 auto;
    background-color: #E30230;
    color: #fff;
    padding: 3% 6%;
    border-radius: 8px;
}

.s-label {
    color: #ffffff;
    font-size: large;
}

.s-input, .s-input:active, .s-input:focus {
    background-color: #E30230;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: #ffffff;
    box-shadow: none;
}

.s-input::placeholder {
    font-family: Barlow, sans-serif;
    font-size: 22px;
    opacity: 0.6;
    color: white;
}

.s-form-input-item {
    margin-bottom: 50px;
}

.s-form-send-btn, .s-form-send-btn:hover, .s-form-send-btn:focus, .s-form-send-btn:active {
    background-color: #fff;
    border-color: #fff;
    color: #E30230;
    border-radius: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 20px;
    width: 180px;
    box-shadow: none;
}

.s-form-send-btn img {
    margin-left: 10%;
}

.s-low-width-p {
    width: 70%;
}

.card1 {
    background-color: #171717;
    width: 360px !important;
}

.card1 h4 {
    color: white;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    padding: 10% 2% 0% 2%;
    letter-spacing: 1px;
}

.services-slick-text {
    font-weight: 600 !important;
}

.s-center-list {
    width: 80%;
    margin: 5% auto;
}

.bold-text {
    font-weight: 500;
}

.s-9-grid-mt {
    margin-top: 5%;
}

.mt-2p {
    margin-top: 2%;
}

.mt-5p {
    margin-top: 5%;
}

.mt-10p {
    margin-top: 10%;
}
.numbers-line-height-p {
    line-height: 2.2;
}
.s-mleft-p {
    margin-left: 15%;
}